* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: 	#8b2323;
}

body {
    background: url(mockup.jpg) no-repeat;
    background-size: cover;
    font-family: ubuntu;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Secular+One&family=Ubuntu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* Main Style */
nav {backdrop-filter: blur(5px);}

main {
    backdrop-filter: blur(2px);
    display: flex;
    padding: 10px;
}

.content {
    border: 2px solid purple;
    display: flex;
    width: 75%;
}

/* Navigation */
nav {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border-bottom: 2px solid #838b8b;
}

nav ul {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Breaking News */
.breaking-news {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.breaking-news ul, .breaking-news ul a {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    gap: 10px;
}

.breaking-news img {width: 200px;}
.breaking-news ul {
    border-left: 2px solid #838b8b;
    border-bottom: 2px solid #838b8b;
    border-right: 2px solid #838b8b;
}
.breaking-news .news-satu {border-right: #838b8b 2px solid;}
.breaking-news h1 {
    font-size: 25px;
    background: #ff4040;
    padding: 5px;
}

/* Latest News */
.latest-news {
    border: 2px solid blue;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 20px;
    width: 30%;
}

.latest-news h3 {
    padding: 0 0 15px 0;
    border-top: 5px solid #000;
}

.latest-list {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.latest-list a {
    border-bottom: 2px solid #838b8b;
    padding: 0 0 10px 0;
}

/* Featured News */
.featured {
    border: 2px solid greenyellow;
}

.featured-main {
    border: 2px solid red;
    font-weight: bold;
    display: flex;
    gap: 20px;
    padding: 0 0 20px 0;
}

.featured-main span {color: #ff4040;}
.featured-main img {width: 450px;}
.featured-main-desk h1 {font-size: 25px;}
.featured-main-desk div {
    display: flex;
    padding: 0 0 20px 0;
    font-size: 15px;
}
