* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: black
}

body {
    background: #f0f8ff;
    font-family: ubuntu
}

main .content {padding: 0 30px}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Secular+One&family=Ubuntu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

 /* Nav  */
nav span {color: #0070ff;}
nav h1 {
    font-size: 30px;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    padding: 15px 5px;
    border-bottom: 1px solid #53868b;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

/* Header */
header .breaking-news h1 {
    background: #318ce7;
    border: 1px solid #89cff0;
    padding: 5px 15px;
}

header .breaking-news {padding: 20px;}

header .breaking-news img {
    width: 200px;
    box-shadow: 1px 1px 2px 1px #838b8b;
}

header .news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px #838b8b solid;
    padding: 10px 15px;
    gap: 10px;
}

header .news div a {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .break-satu {border-right: 1px solid #838b8b;}

/* Right-side Bar */
main {
    display: flex;
}

main .right-side {
}

main .right-side img {width: 300px;}

/* Latest */
main .main-news span {color: #e32636;}
main .main-news {display: flex;}

main .latest {
    border-right: 1px solid #838b8b;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px 0 0;
}

main .latest .last {
    border-bottom: 1px #838b8b solid;
    padding: 10px 0;
}

main .latest h1 {
    border-top: 5px solid #000;
    padding-top: 10px;
}

/* Main-News */
main .feat-news {
    width: 100%;
    padding: 0 0 20px 0;
}

main .feat-news img {box-shadow: 1px 1px 2px 1px ;}

main .isi-news {
    display: flex;
    gap: 20px;
    padding: 0 0 0 15px;
    border-bottom: 1px solid #838b8b;
}

main .isi-news div, h1 {
    padding: 0 0 15px 0;
}
main .isi-news h1 {font-size: 30px;}
main .isi-content a {font-size: 20px;}
main .isi-news img {width: 400px;}

/* Bottom-Main */
main .feat-bottom {
    display: flex;
    gap: 50px;
    padding: 20px 15px;
}

main .feat-bottom h1 {font-size: 20px;}
main .feat-bottom h3 {font-size: 15px;}
main .feat-bottom img {width: 300px;}

/* Bottom-News */
main .bottom-news {
    border-top: 5px solid #000;
    padding: 10px;
}

main .isi-bottom {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}

main .isi-bottom div {width: 25%;}
main .isi-bottom img {width: 300px;}